.root {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--surface2);
  line-height: 1.1em;
}

.name {
  margin-right: 1px;
  font-weight: 100;
  white-space: nowrap;
}

.hash-symbol {
  margin-right: 1px;
}

/**
 * Anonymous
 */

.anonymous .at,
.anonymous .name {
  color: var(--anonymous);
}

/**
 * Authenticated
 */
.authenticated .at,
.authenticated .name {
  color: var(--authenticated);
}

/**
 * Ai
 */
.ai .at,
.ai .name {
  color: var(--ai);
}
