.semantic,
.named,
.alias {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.semantic {
  margin-bottom: 3px;
}

.named {
  margin-bottom: 12px;
}

.color {
  display: block;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  outline: 1px solid rgb(from var(--text) r g b / 60%);
  outline-offset: -1px;
  border-radius: 2px;
}

.alias-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.alias-color {
  margin-right: 3px;
}

.color-container {
  position: relative;
}

.alias {
  display: flex;
  align-items: center;
  font-size: 11px;
}

.color-tooltip {
  background: var(--surface0);
  box-shadow: 1px 1px 0px 0 rgb(from var(--crust) r g b / 80%);
  padding: 2px 6px;
  border-radius: 2px;
}
