.main {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/universe.png");
  background-size: cover;
  background-position: center;
}

.module {
  height: 70dvh;
  width: 70dvw;
}
