.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-image: url("/universe.png");
  background-size: cover;
  background-position: center;
}

.module {
  position: relative;
  width: 80%;
}

.bg {
  background: var(--background-0);
  backdrop-filter: blur(10px);
  border: var(--border-0);
  border-radius: 6px;
  min-height: 70dvh;
}

.header {
  display: flex;
  align-items: center;
  height: 58px;
  border-bottom: var(--border-0);
}

.name {
  font-family: var(--font-family-0);
  font-size: 14px;
  color: #fff;
  letter-spacing: -1.2px;
  text-shadow: var(--text-shadow-0);
  text-transform: uppercase;
  margin-left: 92px;
}

.avatar {
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 0;
  height: 78px;
  width: 78px;
  border: var(--border-0);
  backdrop-filter: blur(50px);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
