.root {
  background: rgb(from var(--surface0) r g b / 10%);
  border: 1px solid rgb(from var(--surface0) r g b / 30%);
  padding: 12px 14px;
  border-radius: 14px;
}

.header {
  margin-bottom: 4px;
}

.body {
  line-height: 1.4;
}
