.root {
  display: flex;
  flex-direction: column;
  background: var(--base);
  color: var(--text);
  font-size: 13px;
  font-weight: 300;
  width: 100dvw;
  height: 100dvh;
}

.main {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.spaces,
.reference-plot-points,
.conversation-plot-points {
  flex: 1;
}

.status-bar {
  height: 18px;
  background: var(--separator);
}

.info-bar {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.spaces,
.reference-plot-points {
  border-right: 1px solid var(--separator);
}

.spaces {
  max-width: 220px;
}

.logo {
  margin-right: 10px;
}

.separator {
  margin-right: 10px;
  color: var(--overlay0);
}

.reference-plot-points {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  padding: 30px;
}
