.root {
  display: flex;
  flex-direction: column;
  background: var(--base);
  color: var(--text);
  font-size: 13px;
  font-weight: 300;
  width: 100dvw;
  height: 100dvh;
}

.main {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.spaces,
.reference-narrative {
  flex: 2;
}

.conversation {
  flex: 3;
}

.status-bar {
  height: 18px;
  background: var(--separator);
}

.spaces,
.reference-narrative {
  border-right: 1px solid var(--separator);
}

.spaces {
  max-width: 220px;
}

.reference-narrative,
.conversation-narrative {
  display: flex;
  flex-direction: column-reverse;
}

.reference-narrative {
  padding: 30px;
  gap: 20px;
}

.conversation {
  display: flex;
  flex-direction: column;
}

.conversation-narrative {
  flex: 1;
  gap: 28px;
  padding: 30px 30px 0 30px;
}

.input-bar {
  padding: 30px;
}
