.user {
  font-size: 12px;
  padding: 0 20px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meta {
  margin-right: 8px;
}

.placeholder {
  width: 12px;
  height: 12px;
  background: var(--surface0);
  border-radius: 2px;
}

.tag {
  flex: 1;
  overflow: hidden;
}

.ai {
  color: var(--ai);
}

.human {
  color: var(--authenticated);
}
