:root {
  /* Font Families */
  --font-family-0: "OCR-B";

  /* TODO: Font Face for SF Mono*/
  --font-family-1: "SF Mono";

  /* Borders */
  --border-0: 1px solid rgba(255, 255, 255, 0.7);

  /* Border Radius */
  --border-radius-0: 6px;
  --border-radius-1: 3px;

  /* Backgrounds */
  --background-0: rgba(255, 255, 255, 0.05);
  --background-1: #eff1f5;
  --background-2: #1e1e2e;

  /* Colors */
  --color-0: #38394d;
  --color-1: #1e66f5;
  --color-2: #bcc2dc;
  --color-3: #d9d9db;

  /* Text Shadows */
  --text-shadow-0: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "OCR-B";
  src: url("/fonts/ocr-b.woff2") format("woff2");
}
