.root {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-and-user {
  display: flex;
}

.logo {
  margin-right: 10px;
}

.separator {
  margin-right: 10px;
  color: var(--overlay0);
}
