.input {
  background: var(--mantle);
  appearance: none;
  border: 0;
  border-radius: 3px;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.root p:not(:last-of-type) {
  margin-bottom: 10px;
}

.root strong {
  font-weight: 600;
}

.root u {
  text-decoration: underline;
}

.root em {
  font-style: italic;
}

.root code {
  background: var(--surface0);
  padding: 3px 5px;
  border-radius: 1px;
}
