.root {
  font-family: var(--font-family-0);
  font-size: 6px;
  text-transform: uppercase;
  border: var(--border-1);
  border-radius: 2px;
  height: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: -0.6px;
  padding: 0 6px 0 4px;
}

.label {
  padding-left: 2px;
}
