.root {
  padding-top: 20px;
}

.ai-user-list {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.ai-user-list + .divider {
  margin-top: 18px;
}

.ai-user {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--font-family-0);
  font-size: 8px;
  text-shadow: var(--text-shadow-0);
}

.ai-avatar {
  margin-right: 6px;
}

.ai-avatar-image {
  width: 24px;
  height: 24px;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 12px;
  margin-right: 12px;
}
