.root {
  font-size: 12px;
}

.channel {
  padding: 0 20px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-channel {
  color: var(--teal);
}

.user-icon {
  margin-right: 8px;
}
