.channel {
  padding: 0 20px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.active-channel,
.active-channel .user-icon {
  color: var(--sapphire);
}

.user-icon {
  margin-right: 8px;
  color: var(--overlay2);
}
