.input {
  background: var(--mantle);
  appearance: none;
  border: 0;
  border-radius: 3px;
  width: 100%;
  font: var(--font-family-1);
  color: var(--text);
  padding: 18px;
  box-sizing: border-box;
}

.input p:not(:last-of-type) {
  margin-bottom: 10px;
}

.input strong {
  font-weight: 600;
}

.input u {
  text-decoration: underline;
}

.input em {
  font-style: italic;
}

.input code {
  background: var(--surface0);
  padding: 3px 5px;
  border-radius: 1px;
}

.input cite {
  color: var(--pink);
}
