.root {
  position: relative;
  min-width: 290px;

  --header-footer-height: 58px;

  --avatar-offset: 10px;
  --avatar-size: 78px;
  --avatar-margin: 12px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-0);
  backdrop-filter: blur(30px);
  border: var(--border-0);
  border-radius: var(--border-radius-0);
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: var(--header-footer-height);
  border-bottom: var(--border-0);
}

.body {
  flex: 1;
  overflow: hidden;
}

.split {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.partition {
  flex: 1;
}

.partition:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.narrative {
  min-height: 200px;
  height: 100%;
}

.footer {
  flex-shrink: 0;
  height: var(--header-footer-height);
  border-top: var(--border-0);
}

.channel,
.handle,
.user-tag {
  font-family: var(--font-family-0);
  font-size: 13px;
  color: #fff;
  letter-spacing: -1.2px;
  text-shadow: var(--text-shadow-0);
}

.handle {
  margin-left: calc(var(--avatar-size) + var(--avatar-margin));
}

.channel {
  margin-left: 8px;
}

.badge {
  margin-left: 10px;
}

.companion-avatar {
  position: absolute;
  z-index: 10;
  left: 0;
  top: calc(-1 * var(--avatar-offset));
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: var(--border-0);
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius-0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  padding: 12px;
}

.input {
  flex: 1;
  padding-right: 12px;
}

/*
 * World Room
 */

.world-room-header {
  padding-left: var(--avatar-margin);
  display: flex;
  align-items: center;
}

/*
 * User
 */

.user-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 18px;
}

.user-body {
  padding: 16px;
  display: flex;
}

.tag-icon {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 4px;
  left: 0;
}

.user-tag {
  margin-left: 44px;
  display: flex;
  align-items: center;
}

.level {
  display: flex;
  font-family: var(--font-family-0);
  font-size: 9px;
}

.label,
.number {
  padding: 5px 6px;
}

.label {
  color: #fff;
  background-color: #3a3a3a;
  border-radius: 2px 0 0 2px;
  letter-spacing: -1.2px;
}

.number {
  color: #222;
  background-color: #d8d8d8;
  border-radius: 0 2px 2px 0;
}

.outer {
  border: 1px solid #979797;
  width: 46px;
  height: 46px;
  border-radius: 2px;
}

.inner {
  border-radius: 1px;
  position: relative;
  top: 1px;
  left: 1px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

.user-avatar-img {
  width: 44px;
  height: 44px;
}

.rep {
  font-family: var(--font-family-0);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.8px;
  margin-right: 8px;
}

.rep-title {
  font-size: 11px;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.5);
}

.rep-number {
  font-size: 10px;
  color: #fff;
}
