.root {
  position: relative;
  height: 100%;
  min-width: 290px;

  --header-footer-height: 58px;

  --avatar-offset: 10px;
  --avatar-size: 78px;
  --avatar-margin: 12px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-0);
  backdrop-filter: blur(10px);
  border: var(--border-0);
  border-radius: var(--border-radius-0);
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: var(--header-footer-height);
  border-bottom: var(--border-0);
}

.body {
  flex: 1;
  overflow: hidden;
}

.narrative {
  min-height: 200px;
  height: 100%;
}

.footer {
  flex-shrink: 0;
  height: var(--header-footer-height);
  border-top: var(--border-0);
}

.channel,
.handle {
  font-family: var(--font-family-0);
  font-size: 13px;
  color: #fff;
  letter-spacing: -1.2px;
  text-shadow: var(--text-shadow-0);
}

.handle {
  margin-left: calc(var(--avatar-size) + var(--avatar-margin));
}

.world-room-header {
  padding-left: var(--avatar-margin);
  display: flex;
  align-items: center;
}

.channel {
  margin-left: 8px;
}

.badge {
  margin-left: 10px;
}

.avatar {
  position: absolute;
  z-index: 10;
  left: 0;
  top: calc(-1 * var(--avatar-offset));
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: var(--border-0);
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius-0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  padding: 12px;
}

.input {
  flex: 1;
  padding-right: 12px;
}
