.root {
  background: #fff;
  border: 1px solid var(--gray-1);
  border-radius: 3px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: auto;
  padding: 2px;
  position: relative;
}

.button {
  width: 100%;
  text-align: left;
  font-family: var(--font-family-1);

  &:hover,
  &:hover.is-selected {
    background-color: yellow;
  }

  &.is-selected {
    background-color: green;
  }
}
