.heading {
  margin-bottom: 8px;
}

.label {
  color: var(--overlay1);
  margin-right: 4px;
}

.value {
  color: var(--blue);
}

.semantic,
.named,
.alias {
  display: flex;
  gap: 3px;
}

.semantic {
  margin-bottom: 3px;
}

.named {
  margin-bottom: 12px;
}

.color {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--text);
  border-radius: 2px;
}

.alias-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.alias-color {
  margin-right: 3px;
}

.color-container {
  position: relative;
}

.color-tooltip {
  background: var(--text);
  color: var(--mantle);
  box-shadow: 3px 3px 2px 0 rgb(from var(--crust) r g b / 40%);
  padding: 2px 8px;
  border-radius: 2px;
}
