.message-body {
  display: inline-block;
  font-size: 12px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  line-height: 18px;
  padding: 6px 10px;
  font-family: var(--font-family-1);
}

.first-person-body {
  background: var(--background-1);
  color: var(--color-0);
  border: 1px solid transparent;
}

.third-person-body {
  background: var(--background-2);
  color: var(--color-3);
  border: 1px solid var(--color-3);
}

.email {
  color: var(--color-1);
  font-weight: 600;
}
