.root {
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.icon {
  color: var(--overlay0);
  width: 20px;
  flex-shrink: 0;
  position: relative;
  left: -1px;
  font-size: 12px;
}

.tag {
  min-width: 0;
}

.action {
  flex-shrink: 0;
}

.name {
  background: var(--surface0);
  padding: 2px 5px;
  border-radius: 1px;
}
